html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;

    body {
        min-height: 100vh;
        margin: 0;
        width: 100vw;
        display: grid;
        flex-direction: column;
        justify-content: center;
        background-image: url(../assets/img/R.jpeg);
        background-repeat: no-repeat;
        background-size: cover;

        header {
            background-image: url('../assets/img/br.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            // height: 100vh;
            width: 99.5vw;
            padding: 0.2em;
            height: 4em;
            position: sticky;
            top: 0;
            display: grid;
            box-shadow: inset 0px 0px 20px 0px black;
            align-items: center;
            backdrop-filter: blur(5px);

            #login-action {
                width: 15%;
                display: flex;
                justify-content: space-around;
                justify-self: flex-end;
                margin-right: 3em;

                a {
                    padding: 0.4em;
                    padding-right: 0.9em;
                    margin-left: 0.5em;
                    padding-left: 0.9em;
                    border: 2px solid;
                    border-color: rgb(12, 4, 4);
                    color: black;
                    border-radius: 6px;
                    border-width: 2px;
                    text-decoration: none;

                }

                a:hover {
                    background-color: #fff;

                }
            }
        }

        main {
            height: 40vh;
            width: 45vw;
            padding: 10px;
            margin-right: 5em;
            margin-bottom: 8em;
            // box-shadow: inset 0px 0px 20px 0px rgba(178, 21, 21, 0.956);
            box-shadow: 0 0 15px 0px rgba(0, 0, 255, 1), 0 0 20px 0px rgba(255, 0, 0, 1);
            // box-shadow: 0 0 10px 0px linear-gradient(to right, blue, red);

            border-radius: 6px;
            align-self: center;
            justify-self: flex-end;

            #first {
                width: 90%;
                margin: auto;
                height: 60%;

                p {
                    color: rgb(20, 6, 6);
                    font-size: 20px;
                    font-family: monospace;
                    text-align: justify;

                    #s1,
                    #s2,
                    #s3,
                    #s4,
                    #s5 {
                        border: 1px solid rgba(0, 0, 0, 0.024);
                        padding: 1px;

                    }

                    #s1:hover {
                        background-color: #fff;
                        border-radius: 6px;

                    }

                    #s2:hover {
                        background-color: rgb(237, 14, 14);
                        color: #fff;
                        border-radius: 6px;
                    }

                    #s3:hover {
                        border-radius: 6px;
                        background-color: rgb(6, 6, 80);
                        color: #fff;

                    }

                    #s4:hover {
                        background-color: #000000;
                        color: #fff;
                        border-radius: 6px;

                    }

                    #s5:hover {
                        background-color: yellow;
                        border-radius: 6px;
                    }
                }
            }

            #second {
                width: 50%;
                height: 3em;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    width: 42%;
                    border-radius: 6px;
                    border: 2px solid;
                    text-align: center;
                    border-color: rgb(213, 33, 33, 0.956);
                    color: #fff;
                    padding: 0.6em;
                    text-decoration: none;
                    // animation-duration: 3s;
                    transition-delay: 0.6s;
                }

                #con:hover {
                    // background-color: #fff;
                    background-image: linear-gradient(to right, red, blue);
                    
                    background-color: transparent;
                    transition-delay: 0.6s;
                }
                
                #cata:hover {
                    background-image: linear-gradient(to right, blue, red);
                    background-color: transparent;
                }

            }
        }
        #log{
            width: 50vw;
            margin: auto;
            border: 1px solid red;

        }
    }
}
